<?xml version="1.0"?>
<configuration>
    <connectionStrings>
      <add name="FBADB" providerName="System.Data.SqlClient" connectionString="Server=LAVANYA;Database=FBAUsersDB;User Id=FBAUsers;Password=VMS2016!;" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      
      <authentication mode="Forms">
        <forms loginUrl="~/Default" timeout="2880" defaultUrl="~/" />
      </authentication>
      <profile defaultProvider="DefaultProfileProvider">
        <providers>
          <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="FBADB" applicationName="/" />
        </providers>
      </profile>
      <membership defaultProvider="DefaultMembershipProvider">
        <providers>
          <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="FBADB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
        </providers>
      </membership>
      <roleManager defaultProvider="DefaultRoleProvider">
        <providers>
          <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="FBADB" applicationName="/" />
        </providers>
      </roleManager>
      <sessionState mode="InProc" customProvider="DefaultSessionProvider">
        <providers>
          <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="FBADB" />
        </providers>
      </sessionState>
    </system.web>
  <appSettings>
    <add key="connString" value="Server=LAVANYA;Database=VMS;User Id=FBAUsers;Password=VMS2016!;"/>
  </appSettings>
</configuration>
